
@font-face {
    font-family: 'kakao';
    src: url(../font/KakaoSmall.woff2) format("woff");
}
@font-face {
    font-family: 'kakao_Bold';
    src: url(../font/KakaoSmall_Bold.woff2) format("woff");
}

@font-face {
    font-family: 'kakaoBig';
    src: url(../font/KakaoBig.woff2) format("woff");
}

@font-face {
    font-family: 'kakaoBig_Bold';
    src: url(../font/KakaoBig_Bold.woff2) format("woff");
}
/* util */

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* layout */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
    color: inherits;
}

body {

    color: #333;
    font-size: 12px;
    line-height: 1.5;
    font-family: 'kakaoBig','맑은 고딕','Malgun Gothic','Apple SD Gothic Neo','돋움',sans-serif; 
}

li{
    list-style:none;
    padding-left:0px;
    }

    /* hover : 박스 띄우기 */
.box-up:hover
{
  transform: translatey(-5px);
  transition-duration: 0.3s;
  animation-timing-function: linear;
  box-shadow: 5px 5px 35px #9b9b9b;
  border-radius: 18px;
}

body .kakaoWrap 
{
    width: 1296px;
    margin: 108px auto 0;
}


/* header */
header {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 5px;
    background: #fff;
  
    position: fixed;
    z-index: 1000;
    top: 0;
  }
  
  header .inner_header {
    background: #fff;
    padding: 19px 0;
    width: 1296px;
    height: 72px;
  
    position: relative;
    box-sizing: border-box;
  
    font-weight: 700;
  }
  
  /* header - nav - tit */
  
  header .inner_header nav.tit_header {
    padding-top: 5px;
    float: left;
  }
  
  header .inner_header nav.tit_header a img {
    width: 107;
    height: 24px;
  }
  
  /* header - nav -  gnb */
  
  header .inner_header nav.nav_gnb {
    width: 55%;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #000;
  }
  
  header .inner_header nav.nav_gnb .list_gnb li {
    padding: 5px 40px 0 5px;
    float: left;
  }
  
  /* header - nav - login */
  
  header .inner_header .login {
    padding: 7px 0;
    float: right;
  
    font-size: 14px;
    letter-spacing: -0.2px;
  }
  
  header .inner_header .login span img {
    width: 10px;
    height: 10px;
  }


  /* footer-hover 짙게 */
footer .sns_list .sns-kakao::after {
    content: url('../images/sns/kakaotalk02.png') ;
    position: absolute;
    top: 24px;
    left: 0;
    display: none;
  }
  footer .sns_list .sns-kakao:hover:after {
    display: inline;
  }
  
  footer .sns_list .sns-insta::after {
    content: url('../images/sns/insta02.png') ;
    position: absolute;
    top: 24px;
    left: 0;
    display: none;
  }
  footer .sns_list .sns-insta:hover:after {
    display: inline;
  }
  
  footer .sns_list .sns-youtube::after {
    content: url('../images/sns/youtube02.png') ;
    position: absolute;
    top: 24px;
    left: 0;
    display: none;
  }
  footer .sns_list .sns-youtube:hover:after {
    display: inline;
  }
  
  footer .sns_list .sns-linkin::after {
    content: url('../images/sns/linkin02.png') ;
    position: absolute;
    top: 24px;
    left: 0;
    display: none;
  }
  footer .sns_list .sns-linkin:hover:after {
    display: inline;
  }
  
  footer .sns_list .sns-facebook::after {
    content: url('../images/sns/facebook02.png') ;
    position: absolute;
    top: 24px;
    left: 0;
    display: none;
  }
  footer .sns_list .sns-facebook:hover:after {
    display: inline;
  }

  /* footer */

footer.kakao_footer
{
  border-top: 1px solid #ebebeb;
}

footer.kakao_footer .inner_footer
{
  width: 1296px;
  margin: 0 auto;
  padding: 59px 0 36px;

  color: #333333;
}

/* footer - sns list */
footer .sns_list
{
  text-align: center;
}
footer .sns_list strong
{
  display: block;
  font-size: 32px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.8px;
  text-align: center;
}

footer .sns_list ul
{
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

footer .sns_list li
{
  display: inline;
  float: left;
  padding: 24px 0 48px;
  margin: 0 12px;
  position: relative;
}
footer .sns_list li>img
{
  width: 60px;
  height: 60px;
}


/* footer - area info */
footer .area_info
{
  padding-top: 12px;
  color: #888888
}

footer .area_info .info_use
{
  float: left;
}

footer .area_info .info_use a:first-child
{
  margin-right: 24px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

/* footer - info use - select */
footer .area_info #select_wrap
{
  appearance: none;
  background: url('../images/etc/direction01.png') no-repeat 70% 50%;
  background-size: 9px 9px;

  width: 100px;
  padding: 12px 24px 10px;
  border: none;
  font-family: inherit;
  color: inherit;
}

/* footer - wrap select */
footer .wrap_select #site_slelect
{
  float: right;

  appearance: none;
  background: url('../images/etc/plus01.png') no-repeat 90% 50%;
  background-size: 12px 12px;
  background-color: #eee;

  width: 222px;
  padding: 10px 24px 11px;
  border: none;
  border-radius: 24px;

  font-size: 13px;
  font-family: inherit;
  color: inherit;
}
